// Change the color here
$black: #000;
$default_color: rgb(132,132,132);
$primary_color: rgb(139,175,183);
$success_color: rgb(48,155,69);
$info_color: rgb(206,181,232);
$warning_color: rgb(255,150,0);
$danger_color: rgb(227,69,0);

$box_alpha: 0.25;