// Transition for animation
@import "theme_var";
@mixin transition($element, $time) {
	-webkit-transition: $element $time;
	-moz-transition: $element $time;
	-ms-transition: $element $time;
	-o-transition: $element $time;
	transition: $element $time;
}

@mixin shadow_in($x_axis, $y_axis, $color) {
	-webkit-box-shadow: $x_axis $y_axis $color inset;
	-moz-box-shadow: $x_axis $y_axis $color inset;
	-ms-box-shadow: $x_axis $y_axis $color inset;
	-o-box-shadow: $x_axis $y_axis $color inset;
	box-shadow: $x_axis $y_axis $color inset;
}

@mixin radius($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}




@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

// RESET
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
	@include radius(0);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// Basic view

body {
	font-size: 100%;
	font-weight: 400;
	font-family: sans-serif;
	line-height: 1.25em;
	color: #263959;
	background: #f4f5f9;
	font-family: 'News Cycle', sans-serif;
	@include transition(all, .2s);
}

p {
	line-height: 1.25;
	margin: 15px auto;
	display: inline-block;
	width: 100%;
	text-align: justify;
}


// Heading
@for $i from 1 through 6 {
	h#{$i} {
		font-size: (2 - (($i/8) * 2) ) * 1.5em;
		padding: (15 - ($i * 2) ) * 1px 0;
		line-height: 1;
		font-weight: bold;
		color: #252c41;
		width: 100%;
		@include transition(all, .2s);
	}
}

a {
	text-decoration: none;
}

ul {
	padding-left: 2em;
	margin: 1em 0;
	list-style-type: circle;
	li {
		margin: 5px 0;
	}
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 1em 10px;
	color: #555;
	font-family: monospace;
}

// Basic button
.btn {
	border: 2px solid $dark_gray;
	background: transparent;
	margin: .25rem .5rem;
	padding: 7px 14px;
	color: $dark_gray;
	@include transition(all, .2s);
	@include radius(4px);
	display: inline-block;
	&.full {
		width: 100%;
		text-align: center;
	}
}

// Basic panel
.panel {
	border: 1px solid #106BFF;
	background: $gray;
	margin: 1rem auto;
	@include transition(all, .2s);
}

.panel-header {
	padding: .75rem 1.25rem;
	border-bottom: .1rem solid #106BFF;
	@include transition(all, .2s);
}

.panel-body {
	padding: 1.25rem;
}

button {
	font-family: 'News Cycle', sans-serif;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: 0!important;;
	}
}





// Font align
.text-center {
	text-align: center!important;
}

.text-left {
	text-align: left!important;
}

.text-right {
	text-align: right!important;
}

.text-justify {
	text-align: justify!important;
}

// Text decoration
b,strong, thead {
	font-weight: 700;
}

i,em {
	font-style: italic;
}

mark {
	background: rgba(63,111,124,$box_alpha);
	padding-left: 2px;
	padding-right: 2px;
}

// Additionnal
pre {
	margin: .5rem 0;
	display: inline-block;
	width: 100%;
	font-family: monospace;
}
code {
	overflow-x: scroll;
	word-wrap: break-word;
	background: #8bafb7;
	display: block;
	padding: 1em 2em;
	margin: 10px 0;
}


// Table
.table-responsive {
	overflow-x:auto;	
}

table {
	width: 100%;
	margin: 10px 0;
	tr {
		overflow: hidden;
	}
	td,th {
		overflow: hidden;
		vertical-align: middle;
		border: 0;
		border-bottom: 1px solid #8B8B8B;
		padding: .75em 1em;
	}
	&.table-style {
		tr:nth-child(even) {
			background-color: #E9E9E9;
		}
	}
}

// End table
// ---------------------------------


@import "navbar";

// Define color var
$states: (
	default: ("regular":$default_color, "light":$default_light_color),
	primary: ("regular":$primary_color, "light":$primary_light_color),
	success: ("regular":$success_color, "light":$success_light_color),
	info: ("regular":$info_color, "light":$info_light_color),
	warning: ("regular":$warning_color, "light":$warning_light_color),
	danger: ("regular":$danger_color, "light":$danger_light_color)
);

@each $item, $element in $states {
	.text-#{$item} {
		color: map-get($element, "regular");
	}

	.box-#{$item} {
		color: map-get($element, "regular");
		border: 1px solid map-get($element, "regular");
		background: rgba(map-get($element, "regular"), $box_alpha);
		padding: 0.5em 1em;
		margin: 1% 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		@include transition(all, .2s);
		&:hover {
			-webkit-box-shadow: 2px 2px 2px #b3b3b3;
			-moz-box-shadow: 2px 2px 2px #b3b3b3;
			box-shadow: 2px 2px 2px #b3b3b3;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			-webkit-transform: scale(1.025);
			-moz-transform: scale(1.025);
			-ms-transform: scale(1.025);
			-o-transform: scale(1.025);
			transform: scale(1.025);
		}
	}

	.btn-#{$item} {
		border-color: map-get($element, "regular");
		color: map-get($element, "regular");
		&:hover,
		&.active {
			background: map-get($element, "light");
		}
	}

	.panel.panel-#{$item} {
		border-color: map-get($element, "regular");
		color: map-get($element, "regular");
		background: map-get($element, "light")!important;
		.panel-header {
			border-color: map-get($element, "regular");
		}
	}
}
@import "modal";

// Inverted theme
body.inverted  {
	background: #1e2022;
	color: #c9d6de;
	
	@for $i from 1 through 6 {
		h#{$i} {
			color: #f0f5f9;
		}
	}

	.panel {
		background: $inverted_gray;
	}

	code {
		background: #617A80;
	}

	table {
		td,th {
			border-color: #6E6E6E;
		}
		&.table-style {
			tr:nth-child(even) {
				background-color: #272727;
			}
		}
	}
}