// Transition for animation
@import "theme_var";
@mixin transition($element, $time) {
	-webkit-transition: $element $time;
	-moz-transition: $element $time;
	-ms-transition: $element $time;
	-o-transition: $element $time;
	transition: $element $time;
}

@mixin radius($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}




@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

// RESET
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
	@include radius(0);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// Basic view
body,html {
	font-size: 100%;
	font-weight: 400;
	font-family: sans-serif;
	line-height: 1.25em;
	color: #263959;
	background: #f4f5f9;
	font-family: 'News Cycle', sans-serif;
}

p {
	font-size: 1.15em;
	line-height: 1.25em;
	margin: 10px auto;
}


// Heading
@for $i from 1 through 6 {
	h#{$i} {
		font-size: (2 - (($i/8) * 2) ) * 1.5em;
		padding: (15 - ($i * 2) ) * 1px 0;
		line-height: 1;
		font-weight: bold;
		color: #252c41;
	}
}

a {
	text-decoration: none;
}

ul {
	padding-left: 2em;
	margin: 1em 0;
	list-style-type: circle;
	li {
		margin: 5px 0;
	}
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 1em 10px;
	color: #555;
	font-family: monospace;
}

// Basic button
.btn {
	border: 1px solid rgba(0,0,0,$box_alpha);
	padding: 7px 14px;
	color: rgba(0,0,0,$box_alpha);
	@include radius(4px);
	@include transition(all, .2s);
	display: inline-block;
}

// Define color var
$states: (default: $default_color, primary: $primary_color, success: $success_color, info: $info_color, warning: $warning_color, danger: $danger_color);

@each $item, $element in $states {
	.text-#{$item} {
		color: $element;
	}

	.box-#{$item} {
		color: $element;
		border: 1px solid $element;
		background: rgba($element, $box_alpha);
		padding: 0.5em 1em;
		margin: 1% 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		@include transition(all, .2s);
		&:hover {
			-webkit-box-shadow: 2px 2px 2px #b3b3b3;
			-moz-box-shadow: 2px 2px 2px #b3b3b3;
			box-shadow: 2px 2px 2px #b3b3b3;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			-webkit-transform: scale(1.025);
			-moz-transform: scale(1.025);
			-ms-transform: scale(1.025);
			-o-transform: scale(1.025);
			transform: scale(1.025);
		}
	}

	.btn-#{$item} {
		border-color: rgba($element, .75);
		background: rgba($element, $box_alpha - .1);
		color: rgba($element, .75);
		@include transition(all, .2s);
		&:hover {
			border-color: rgba($element, 1);
			background: rgba($element, $box_alpha * 2);
			color: rgba($element, 1);
		}
	}
}


// Font align
.text-center {
	text-align: center!important;
}

.text-left {
	text-align: left!important;
}

.text-right {
	text-align: right!important;
}

.text-justify {
	text-align: justify!important;
}

// Text decoration
b,strong, th {
	font-weight: 700;
}

i,em {
	font-style: italic;
}

mark {
	background: rgba(63,111,124,$box_alpha);
	padding-left: 2px;
	padding-right: 2px;
}

// Additionnal
code {
	background: #8bafb7;
	display: block;
	padding: 1em 2em;
	margin: 10px 0;
}

table {
	width: 100%;
	margin: 10px 0;
	@include radius(20px);
	td,th {
		border: 1px solid #000;
		padding: .75em 1em;
	}
	td {
		text-align: left;
	}
}

table.table-style {
	tr:nth-child(even) {
		background-color: #eeeeee;
	}
}

// Inverted theme
body.inverted {
	background: #1e2022;
	color: #c9d6de;
	@for $i from 1 through 6 {
		h#{$i} {
			color: #f0f5f9;
		}
	}
}

@import "navbar";
@import "modal";